{% extends 'seavs/base.html' %}
{% block content %}
<section>
  <div class="container-fluid sidetitle">
  <button type="button" class="button btn btn-light btn-lg button"><a href="personal">Add Personal Details
  </a></button><br>
  <button type="button" class="button btn btn-light btn-lg button"><a href="education/">Add Education
  </a></button><br>
  <button type="button" class="button btn btn-light btn-lg button"><a href="experiences/">Create your CV
  </a></button><br>
  <button type="button" class="button btn btn-light btn-lg button"><a href="madecv/">See your CV
  </a></button><br>
  </div>
</section>

  <h2>Upload your CV</h2>
  <form method ="post" enctype="multipart/form-data">
     {% csrf_token %}
     <input type="file" name ="document">
     <button type="submit">Upload file</button>
  </form>
  {% if url %}
      <p>uploaded file: <a href="{{url}}">{{url}}</a></p>   

  {% endif %}
{% endblock content %}
